@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@700&family=Yeseva+One&display=swap");

.text-serif {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
}
.text-sans {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}
