<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
  </head>
  <body>
    <footer class="text-center fs-7 fs-lg-6 py-6 py-lg-8 border-top border-3">
      <p class="text-sans">© 7TAO七逃. All Rights Reserved</p>
    </footer>
  </body>
</html>
