<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/images/icofont/icofont.min.css" />
    <title>7TAO | 所有活動</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <h2
        class="d-flex justify-content-between align-items-center px-3 py-4 px-lg-8 py-lg-6 border border-2 mb-3 mb-lg-8"
      >
        <span class="fs-4 fs-lg-11">EVENT</span>
        <span class="fs-6 fs-lg-2 text-serif">所有活動</span>
      </h2>
      <ul class="list-unstyled d-flex flex-wrap gap-2 mb-8">
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          演出
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          音樂
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          舞蹈
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          戲劇
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          音樂會
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          課程講座
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          社群活動
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          展覽
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          研討會
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          電影
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          電音派對
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          遊戲競賽
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          親子
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          藝文活動
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          運動
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          交通旅遊
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          美食
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          資訊科技
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          聯誼
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          戶外
        </li>
        <li
          class="fs-7 fs-lg-6 text-serif border border-2 ps-3 pe-4 py-1 ps-lg-5 pe-lg-6 tag-border"
        >
          線上活動
        </li>
      </ul>
      <ul
        class="list-unstyled row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 gy-lg-5 mb-8 mb-lg-15"
      >
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            19 MAY 2023
          </p>
          <img
            src="../assets/images/event/01.jpg"
            alt="邪典電影派對——房間"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">邪典電影派對——房間</h3>
          <p class="mb-4">
            你有聽說過「大災難家」裡面的主角 Tommy Wiseau
            製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，...
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">社群活動</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            23 MAY 2023
          </p>
          <img
            src="../assets/images/event/02.jpg"
            alt="怪舞俱樂部"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">怪舞俱樂部</h3>
          <p class="mb-4">
            覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">演出</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">檢視活動</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            30 MAY 2023
          </p>
          <img
            src="../assets/images/event/03.jpg"
            alt="哈利波特馬拉松"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">哈利波特馬拉松</h3>
          <p class="mb-4">
            每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">聯誼</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            12 June 2023
          </p>
          <img
            src="../assets/images/event/04.jpg"
            alt="皮卡丘排球大賽"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">皮卡丘排球大賽</h3>
          <p class="mb-4">
            還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">遊戲競賽</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            25 June 2023
          </p>
          <img
            src="../assets/images/event/05.jpg"
            alt="酒精路跑"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">酒精路跑</h3>
          <p class="mb-4">
            身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">社群活動</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            9 July 2023
          </p>
          <img
            src="../assets/images/event/06.jpg"
            alt="展覽——我的房間"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">展覽——我的房間</h3>
          <p class="mb-4">
            每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">展覽</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            19 MAY 2023
          </p>
          <img
            src="../assets/images/event/07.jpg"
            alt="野營音樂祭"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">野營音樂祭</h3>
          <p class="mb-4">
            喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過
            15 項體驗與工作坊、新興音樂人的草地演唱。
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">演出</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            23 MAY 2023
          </p>
          <img
            src="../assets/images/event/08.jpg"
            alt="疊疊樂大賽"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">疊疊樂大賽</h3>
          <p class="mb-4">
            來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">遊戲競賽</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            18 MAY 2023
          </p>
          <img
            src="../assets/images/event/09.jpg"
            alt="返老還童-制服聯誼"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">返老還童-制服聯誼</h3>
          <p class="mb-4">
            由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">聯誼</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">檢視活動</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            19 MAY 2023
          </p>
          <img
            src="../assets/images/event/10.jpg"
            alt="野外求生17天"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">野外求生17天</h3>
          <p class="mb-4">
            野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">戶外</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            25 June 2023
          </p>
          <img
            src="../assets/images/event/11.jpg"
            alt="耳熟能詳音樂祭"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">耳熟能詳音樂祭</h3>
          <p class="mb-4">
            對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當
            KTV 跟著唱，唱不出來服務台報到立馬退費！
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">演出</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
        <li class="col">
          <p
            class="fs-2 fs-lg-1 pb-2 pb-lg-3 lh-1 border-bottom border-3 mb-4 mb-lg-3"
          >
            9 July 2023
          </p>
          <img
            src="../assets/images/event/12.jpg"
            alt="野營發呆大賽"
            class="img-fluid recent-img mb-2 mb-lg-3"
          />
          <h3 class="fs-8 fs-lg-4 mb-2 mb-lg-3">野營發呆大賽</h3>
          <p class="mb-4">
            你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！
          </p>
          <div
            class="d-flex justify-content-between align-items-center py-2 py-lg-3 border-top border-bottom border-2 text-black"
          >
            <a href="#" class="d-flex align-items-center gap-1 category-hover">
              <img
                src="../assets/images/sparkler.png"
                alt="sparkler"
                class="sparkler-icon"
              />
              <span class="text-serif">遊戲競賽</span>
            </a>
            <a href="#" class="d-flex align-items-center gap-1 more-hover">
              <span class="fw-bold">開賣中</span
              ><span class="material-icons"> keyboard_double_arrow_right </span>
            </a>
          </div>
        </li>
      </ul>
      <nav aria-label="Page navigation">
        <ul class="pagination gap-2 justify-content-center mb-12 mb-lg-15">
          <li class="page-item">
            <a class="page-link px-3"> <i class="icofont-arrow-left"></i></a>
          </li>
          <li class="page-item">
            <a class="page-link text-serif" href="#">1</a>
          </li>
          <li class="page-item active">
            <a class="page-link text-serif">2</a>
          </li>
          <li class="page-item">
            <a class="page-link text-serif" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link text-serif" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link text-serif" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link px-3" href="#">
              <i class="icofont-arrow-right"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
